<%= form_for @user, :url => {:controller => 'users', :action => 'fblink' } do |f| %>
  <div class="field">
    Post Link : <br/>
      <%= f.text_field :link %><br />
       <%= f.submit "Post"%>
  </div>
<%= hidden_field_tag 'access_token', @access_token %>
<% end %>




